<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<link rel="shortcut icon" href="{$setting.ico}">
	<title>{$setting.title}</title>
	<meta name="keywords" content="{$setting.keyword}"/>
	<meta name="description" content="{$setting.description}"/>

	<script type="text/javascript" src="../js/jQuery-v2.2.4.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/common.css">
</head>
<body>

<!-- header -->
<header class="head">
	<div class="minwdt head-bits">
		<div class="container">
			<ul class="clearfix fl-lf bits-lf">
				<li>
					<a class="bitslink" href="#">金海燕外贸论坛</a>
				</li>
				<li class="line">|</li>
				<li>
					<a class="bitslink" href="#">金海燕官网</a>
				</li>
				<li class="line">|</li>
				<li>
					<a class="bitslink" href="#">职业测评</a>
				</li>
				<li class="line">|</li>
				<li>
					<a class="bitslink" href="#">人才招聘</a>
				</li>
			</ul>
			<ul class="clearfix fl-rg bits-rg">
				<li>
					<a class="bitslink" href="#">登录</a>
				</li>
				<li class="line">|</li>
				<li>
					<a class="bitslink" href="#">注册</a>
				</li>
				<li class="line">|</li>
				<li>
					<img class="dp-ib" src="../image/common/head_tel.png">
					<span class="tel">
						咨询热线：
						<a class="bitslink" href="tel://18576000015">0760-88816819</a>
					</span>
				</li>
			</ul>
		</div>
	</div>
	<nav class="nav-box">
		<div class="container">
			<ul class="clearfix fl-lf logo-pack">
				<li>
					<a href="/"><img class="img-responsive" src="../image/common/logo.png" alt="金海燕"></a>
				</li>
				<li class="line">|</li>
				<li>
					<strong>阿里巴巴外贸人才培训企业</strong>
				</li>
			</ul>
			<ul class="clearfix fl-rg column">
				<li class="columnli">
					<a class="columnlink" href="index_index.html">首页</a>
				</li>
				<li class="columnli active">
					<a class="columnlink" href="about_index.html">关于金海燕</a>
				</li>

				<li class="columnli">
					<a class="columnlink" href="service_index.html">服务项目</a>
				</li>
				<li class="columnli">
					<a class="columnlink" href="news_index.html">新闻资讯</a>
				</li>
				<li class="columnli">
					<a class="columnlink" href="coop_index.html">校企合作</a>
				</li>
				<li class="columnli">
					<a class="columnlink" href="contact_index.html">联系我们</a>
				</li>
			</ul>
		</div>
	</nav>
</header>



<!-- banner -->
<div class="banner">
	<img class="img-responsive minwdt" src="../image/about/about.jpg" alt="关于金海燕">
</div>

<div class="minwdt main-nav">
	<div class="container">
		<ul>
			<li class="active">
				<a class="navlink" href="about_index.html">公司介绍</a>
			</li>
			<li class="line"><img src="../image/about/line.png" alt="line"></li>
			<li>
				<a class="navlink" href="about_culture.html">企业文化</a>
			</li>
			<li class="line"><img src="../image/about/line.png" alt="line"></li>
			<li>
				<a class="navlink" href="about_course.html">发展历史</a>
			</li>
			<li class="line"><img src="../image/about/line.png" alt="line"></li>
			<li>
				<a class="navlink" href="about_school_honor.html">荣誉资质</a>
			</li>
			<li class="line"><img src="../image/about/line.png" alt="line"></li>
			<li>
				<a class="navlink" href="about_school_index.html">合作校企</a>
			</li>			
		</ul>
	</div>
</div>

<div class="page1">
	<div class="container">
		<ul class="about-title">
			<li><strong>公司介绍</strong></li>
			<li><span>Company introduction</span></li>
		</ul>
		<!-- edit-editor -->
		<div class="edit-editor">公司介绍/内容编辑</div>
		<ul class="introduce-box">
			<li>
				<dl>
					<dt>
						<img src="../image/about/introduce_list_1.png" alt="专注外贸出口通">
					</dt>
					<dd>
						<strong>专注外贸出口通</strong>
						<p>专为阿里巴巴的外贸企业做人才招聘，人才培训服务。专注于外贸出口通</p>
					</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>
						<img src="../image/about/introduce_list_2.png" alt="十天的过渡期">
					</dt>
					<dd>
						<strong>十天的过渡期</strong>
						<p>企业有十天的过渡期，如果十天之内企业觉得这个学生不行，可以要求换退换</p>
					</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>
						<img src="../image/about/introduce_list_3.png" alt="专家讲师">
					</dt>
					<dd>
						<strong>专家讲师</strong>
						<p>各商会内部讲师,电子商务从业经验丰富的资深经理人做为我们的专职培训师</p>
					</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>
						<img src="../image/about/introduce_list_4.png" alt="专业测评">
					</dt>
					<dd>
						<strong>专业测评</strong>
						<p>专业的人力资源人才招聘顾问，及实战经验丰富的招聘咨询服务评测专家</p>
					</dd>
				</dl>
			</li>
		</ul>
	</div>
</div>

<div class="page2 minwdt">
	<img class="img-responsive" src="../image/about/academe_bg.jpg" alt="专业测评">
	<div class="academe-box">
		<div class="container">
			<ul class="about-title">
				<li><strong>广东金海燕跨境电商学院</strong></li>
				<li><span>Company introduction</span></li>
			</ul>
			<div class="academe-pack">
				<strong>金海燕的宗旨 维人才，维企业搭建一条共创共荣的通道</strong>
				<p>金海燕的使命，培养出优势的B2B,B2C精英！金海燕价值观，利他，有利于学生，有利于学校，有利于企业！</p>
			</div>
		</div>
	</div>
</div>

<div class="page3">
	<div class="container">
		<ul class="about-title">
			<li><strong>企业文化</strong></li>
			<li><span>Corporate culture</span></li>
		</ul>
		<ul class="culture-box">
			<li class="fl-lf one">
				<dl class="culture-pack">
					<dt>
						<strong>先进的技术+远瞻的眼光</strong>
						<p>互联网行业瞬息万变，谁能洞察未来，谁就能引领行业发展。</p>
						<span></span>
					</dt>
					<dd>
						<p>广东金海燕教育科技有限公司是由阿里巴巴华南大区支持下成立的一家第三方企业：专业为阿里巴巴的外贸企业做人才招聘，人才培训服务。目前是一家专注于外贸出口通，国内诚信通岗位。并服务于阿里巴巴在中山,江门,珠海,佛山,深圳的中小企业客户的培训机构！我们以解决企业发展过程中的人才瓶颈为使命。协助企业解决机制问题与人才使用问题。为人才，为企业搭建一条共创共荣的通道！</p>
					</dd>
				</dl>
			</li>
			<li class="fl-rg two">
				<img class="img-responsive" src="../image/about/culture.jpg" alt="最受客户信任的互联网企业  诚信、专注、尽责、创新  提升企业品牌形象获得最大的价值">
			</li>
		</ul>
	</div>
</div>


<link rel="stylesheet" type="text/css" href="../css/about_index.css">



<!-- footer -->
<footer class="minwdt foot">
	<div class="container">
		<ul class="clearfix foot-top">
			<li class="on">
				<dl class="foot-menu">
					<dt><strong>关于金海燕</strong></dt>
					<dd><a href="#">公司介绍</a></dd>
					<dd><a href="#">企业文化</a></dd>
					<dd><a href="#">发展历史</a></dd>
					<dd><a href="#">荣誉资质</a></dd>
					<dd><a href="#">合作校企</a></dd>
				</dl>
			</li>
			<li class="on">
				<dl class="foot-menu">
					<dt><strong>服务项目</strong></dt>
					<dd><a href="#">外贸培训</a></dd>
					<dd><a href="#">人才输送</a></dd>
					<dd><a href="#">职场技能</a></dd>
				</dl>
			</li>
			<li class="on">
				<dl class="foot-menu">
					<dt><strong>新闻资讯</strong></dt>
					<dd><a href="#">学院动态</a></dd>
					<dd><a href="#">最新资讯</a></dd>
				</dl>
			</li>
			<li class="on">
				<dl class="foot-menu">
					<dt><strong>校企合作</strong></dt>
					<dd><a href="#">合作方式</a></dd>
					<dd><a href="#">合作优势</a></dd>
					<dd><a href="#">立即咨询</a></dd>
				</dl>
			</li>
			<li class="on">
				<dl class="foot-menu">
					<dt><strong>联系我们</strong></dt>
					<dd><a href="#">联系方式</a></dd>
					<dd><a href="#">在线留言</a></dd>
				</dl>
			</li>
			<li class="on">
				<dl class="foot-menu">
					<dt><strong>旗下网站</strong></dt>
					<dd><a href="#">金海燕外贸论坛</a></dd>
					<dd><a href="#">金海燕官网</a></dd>
					<dd><a href="#">职业测评</a></dd>
					<dd><a href="#">人才招聘</a></dd>
				</dl>
			</li>
			<li class="fl-rg">
				<img class="img-responsive" src="../image/common/WeChat.png" alt="金海燕-官方微信">
			</li>
		</ul>
		<dl class="clearfix foot-mdl">
			<dt>
				<strong>友情链接</strong>
			</dt>
			<dd>
				<a class="links" href="#">广东外贸论坛</a>
				<a class="links" href="#">外贸常用工具</a>
				<a class="links" href="#">外贸培训</a>
				<a class="links" href="#">职业测评</a>
				<a class="links" href="#">外贸人才招聘</a>
			</dd>
		</dl>
		<ul class="clearfix foot-btm">
			<li class="fl-lf">
				<strong class="zhder">
					技术支持：<a href="http://www.zhder.com" title="深圳网络公司,网站建设公司,深圳做网站公司,中山网站建设,网站设计-就选中达世联" target="_blank">中达世联</a>
				</strong>
			</li>
			<li class="fl-rg">
				<p>
					版权所有©2017 广东金海燕教育科技有限公司.保留一切权利
					&nbsp;
					粤ICP 000000000
					&nbsp;
					粤公网安备 000000000
				</p>
			</li>
		</ul>
	</div>
</footer>

</body>
</html>
