<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<link rel="shortcut icon" href="{$setting.ico}">
	<title>{$setting.title}</title>
	<meta name="keywords" content="{$setting.keyword}"/>
	<meta name="description" content="{$setting.description}"/>

	<script type="text/javascript" src="../js/jQuery-v2.2.4.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/common.css">
</head>
<body>

<!-- header -->
<header class="head">
	<div class="minwdt head-bits">
		<div class="container">
			<ul class="clearfix fl-lf bits-lf">
				<li>
					<a class="bitslink" href="#">金海燕外贸论坛</a>
				</li>
				<li class="line">|</li>
				<li>
					<a class="bitslink" href="#">金海燕官网</a>
				</li>
				<li class="line">|</li>
				<li>
					<a class="bitslink" href="#">职业测评</a>
				</li>
				<li class="line">|</li>
				<li>
					<a class="bitslink" href="#">人才招聘</a>
				</li>
			</ul>
			<ul class="clearfix fl-rg bits-rg">
				<li>
					<a class="bitslink" href="#">登录</a>
				</li>
				<li class="line">|</li>
				<li>
					<a class="bitslink" href="#">注册</a>
				</li>
				<li class="line">|</li>
				<li>
					<img class="dp-ib" src="../image/common/head_tel.png">
					<span class="tel">
						咨询热线：
						<a class="bitslink" href="tel://18576000015">0760-88816819</a>
					</span>
				</li>
			</ul>
		</div>
	</div>
	<nav class="nav-box">
		<div class="container">
			<ul class="clearfix fl-lf logo-pack">
				<li>
					<a href="/"><img class="img-responsive" src="../image/common/logo.png" alt="金海燕"></a>
				</li>
				<li class="line">|</li>
				<li>
					<strong>阿里巴巴外贸人才培训企业</strong>
				</li>
			</ul>
			<ul class="clearfix fl-rg column">
				<li class="columnli active">
					<a class="columnlink" href="index_index.html">首页</a>
				</li>
				<li class="columnli">
					<a class="columnlink" href="about_index.html">关于金海燕</a>
				</li>
				<li class="columnli">
					<a class="columnlink" href="service_index.html">服务项目</a>
				</li>
				<li class="columnli">
					<a class="columnlink" href="news_index.html">新闻资讯</a>
				</li>
				<li class="columnli">
					<a class="columnlink" href="coop_index.html">校企合作</a>
				</li>
				<li class="columnli">
					<a class="columnlink" href="contact_index.html">联系我们</a>
				</li>
			</ul>
		</div>
	</nav>
</header>



<!-- bannerplay -->
<div id="carousel-example-generic" class="carousel-fade minwdt carousel slide bannerplay" data-ride="carousel">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
	</ol>
	<!-- Wrapper for slides -->
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<a href="{$vo.url}"><img class="img-responsive" src="../image/index/carousel_1.jpg" alt="{$vo.name}"></a>
		</div>
		<div class="item">
			<a href="{$vo.url}"><img class="img-responsive" src="../image/index/carousel_1.jpg" alt="{$vo.name}"></a>
		</div>
	</div>
	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"></a>
	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"></a>
</div>

<!-- page1 -->
<div class="page1 minwdt">
	<div class="container">
		<div class="row-view">
			<div class="box-prob">
				<ul class="clearfix prob-con">
					<li class="one">
						<dl class="con-pack">
							<dt><strong>外贸人才培训</strong></dt>
							<dd>
								<p>专注于外贸诚信通岗位</p>
								<a class="link" href="#">MORE+</a>
								<img class="img" src="../image/index/menu1.png" alt="外贸人才培训"/>
							</dd>
						</dl>
					</li>
					<li class="two">
						<dl class="con-pack">
							<dt><strong>外贸人才输送</strong></dt>
							<dd>
								<p>为企业提供人才甄选和岗前培训</p>
								<a class="link" href="#">MORE+</a>
								<img class="img" src="../image/index/menu2.png" alt="外贸人才输送"/>
							</dd>
						</dl>
					</li>
					<li class="three">
						<dl class="con-pack">
							<dt><strong>校企合作</strong></dt>
							<dd>
								<p>企业人才输送，校园人才培训</p>
								<a class="link" href="#">MORE+</a>
								<img class="img" src="../image/index/menu3.png" alt="校企合作"/>
							</dd>
						</dl>
					</li>
					<li class="four">
						<dl class="con-pack">
							<dt><strong>职业测评</strong></dt>
							<dd>
								<p>提前知道你的优势</p>
								<a class="link" href="#">MORE+</a>
								<img class="img" src="../image/index/menu4.png" alt="职业测评"/>
							</dd>
						</dl>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- page2 -->
<div class="page2">
	<div class="container">
		<dl class="page-title">
			<dt>
				<i class="line left"></i>
				<strong>关于金海燕</strong>
				<i class="line right"></i>
			</dt>
			<dd>
				<p>
					广东金海燕教育科技有限公司是由阿里巴巴华南大区支持下成立的一家第三方企业：专业为阿里巴巴的外贸企业做人才招聘，人才培训服务。目前是一家专注于外贸出口通，国内诚信通岗位。并服务于阿里巴巴在中山,江门,珠海,佛山,深圳的中小企业客户的培训机构！
				</p>
			</dd>
		</dl>
		<div class="box-prob">
			<ul class="clearfix prob-con">
				<li>
					<div class="con-pack">
						<img class="img-responsive" src="../image/index/about1.jpg" alt="关于金海燕"/>
					</div>
				</li>
				<li>
					<div class="con-pack">
						<img class="img-responsive" src="../image/index/about2.jpg" alt="关于金海燕"/>
					</div>
				</li>
				<li>
					<div class="con-pack">
						<img class="img-responsive" src="../image/index/about3.jpg" alt="关于金海燕"/>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- page3 -->
<div class="page3 minwdt">
	<div class="container">
		<dl class="page-title">
			<dt>
				<i class="line left"></i>
				<strong>合作院校</strong>
				<i class="line right"></i>
			</dt>
			<dd>
				<p>
					我们以解决企业发展过程中的人才瓶颈为使命。协助企业解决机制问题与人才使用问题。为人才，为企业搭建一条共创共荣的通道！
				</p>
			</dd>
		</dl>
		<div class="box-prob">
			<ul class="clearfix prob-con">
				<li>
					<div class="con-pack">
						<img class="img-responsive" src="../image/index/logo1.jpg" alt=""/>
					</div>
				</li>
				<li>
					<div class="con-pack">
						<img class="img-responsive" src="../image/index/logo2.jpg" alt=""/>
					</div>
				</li>
				<li>
					<div class="con-pack">
						<img class="img-responsive" src="../image/index/logo1.jpg" alt=""/>
					</div>
				</li>
				<li>
					<div class="con-pack">
						<img class="img-responsive" src="../image/index/logo2.jpg" alt=""/>
					</div>
				</li>
				<li>
					<div class="con-pack">
						<img class="img-responsive" src="../image/index/logo1.jpg" alt=""/>
					</div>
				</li>
				<li>
					<div class="con-pack">
						<img class="img-responsive" src="../image/index/logo2.jpg" alt=""/>
					</div>
				</li>
				<li>
					<div class="con-pack">
						<img class="img-responsive" src="../image/index/logo1.jpg" alt=""/>
					</div>
				</li>
				<li>
					<div class="con-pack">
						<img class="img-responsive" src="../image/index/logo2.jpg" alt=""/>
					</div>
				</li>
				<li>
					<div class="con-pack">
						<img class="img-responsive" src="../image/index/logo1.jpg" alt=""/>
					</div>
				</li>
				<li>
					<div class="con-pack">
						<img class="img-responsive" src="../image/index/logo2.jpg" alt=""/>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- page4 -->
<div class="page4">
	<div class="container">
		<dl class="page-title">
			<dt>
				<i class="line left"></i>
				<strong>新闻资讯</strong>
				<i class="line right"></i>
			</dt>
			<dd>
				<p>
					我们凭借独有科学权威的人才解码测评系统，为个人求职者提供职业定位测评分析，为企业提供专业的人才评鉴。
				</p>
			</dd>
		</dl>
		<div class="tab-wrap">
			<ul class="tab-menu">
				<li class="active">
					<a class="tab-menu-link" href="javascript:void(0);">学院动态</a>
				</li>
				<li>
					<a class="tab-menu-link" href="javascript:void(0);">最新资讯</a>
				</li>
			</ul>
			<ul class="tab-content">
				<li class="active">
					<div class="box-prob">
						<ul class="clearfix prob-con">
							<li>
								<dl class="con-pack">
									<dt class="evenflow_scale">
										<a href="#">
											<img class="img-responsive" src="../image/index/news1.jpg" alt="新闻标题">
										</a>
									</dt>
									<dd class="title">
										<a href="#"><strong>布雷斯顿网站上线公告</strong></a>
									</dd>
									<dd class="clearfix span">
										<span>作者:布雷斯顿</span>
										<span class="img">2017-08-18</span>
									</dd>
								</dl>
							</li>
							<li>
								<dl class="con-pack">
									<dt class="evenflow_scale">
										<a href="#">
											<img class="img-responsive" src="../image/index/news2.jpg" alt="新闻标题">
										</a>
									</dt>
									<dd class="title">
										<a href="#"><strong>布雷斯顿网站上线公告</strong></a>
									</dd>
									<dd class="clearfix span">
										<span>作者:布雷斯顿</span>
										<span class="img">2017-08-18</span>
									</dd>
								</dl>
							</li>
							<li>
								<dl class="con-pack">
									<dt class="evenflow_scale">
										<a href="#">
											<img class="img-responsive" src="../image/index/news3.jpg" alt="新闻标题">
										</a>
									</dt>
									<dd class="title">
										<a href="#"><strong>布雷斯顿网站上线公告</strong></a>
									</dd>
									<dd class="clearfix span">
										<span>作者:布雷斯顿</span>
										<span class="img">2017-08-18</span>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
				</li>
				<li>
					<div class="box-prob">
						<ul class="clearfix prob-con">
							<li>
								<dl class="con-pack">
									<dt class="evenflow_scale">
										<a href="#">
											<img class="img-responsive" src="../image/index/news1.jpg" alt="新闻标题">
										</a>
									</dt>
									<dd class="title">
										<a href="#"><strong>布雷斯顿网站上线公告</strong></a>
									</dd>
									<dd class="clearfix span">
										<span>作者:布雷斯顿</span>
										<span class="img">2017-08-18</span>
									</dd>
								</dl>
							</li>
							<li>
								<dl class="con-pack">
									<dt class="evenflow_scale">
										<a href="#">
											<img class="img-responsive" src="../image/index/news2.jpg" alt="新闻标题">
										</a>
									</dt>
									<dd class="title">
										<a href="#"><strong>布雷斯顿网站上线公告</strong></a>
									</dd>
									<dd class="clearfix span">
										<span>作者:布雷斯顿</span>
										<span class="img">2017-08-18</span>
									</dd>
								</dl>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- page5 -->
<div class="page5">
	<div class="container">
		<dl class="page-title">
			<dt>
				<i class="line left"></i>
				<strong>荣誉资质</strong>
				<i class="line right"></i>
			</dt>
			<dd>
				<p>目前是一家专注于外贸出口通，国内诚信通岗位。并服务于阿里巴巴在中山,江门,珠海,佛山,深圳的中小企业客户的培训机构！</p>
			</dd>
		</dl>
		<div class="box-prob">
			<ul class="clearfix prob-con">
				<li>
					<dl class="con-pack">
						<dt>
							<img class="img-responsive" src="../image/index/certificate1.jpg" alt="中国诚信建设高层论坛">
						</dt>
						<dd>
							<strong>中国诚信建设高层论坛</strong>
						</dd>
					</dl>
				</li>
				<li>
					<dl class="con-pack">
						<dt>
							<img class="img-responsive" src="../image/index/certificate2.jpg" alt="诚信优秀企业">
						</dt>
						<dd>
							<strong>中国诚信建设高层论坛</strong>
						</dd>
					</dl>
				</li>
				<li>
					<dl class="con-pack">
						<dt>
							<img class="img-responsive" src="../image/index/certificate3.jpg" alt="诚信经营示范创建单位">
						</dt>
						<dd>
							<strong>中国诚信建设高层论坛</strong>
						</dd>
					</dl>
				</li>
				<li>
					<dl class="con-pack">
						<dt>
							<img class="img-responsive" src="../image/index/certificate4.jpg" alt="半岛教育风云榜">
						</dt>
						<dd>
							<strong>中国诚信建设高层论坛</strong>
						</dd>
					</dl>
				</li>
				<li>
					<dl class="con-pack">
						<dt>
							<img class="img-responsive" src="../image/index/certificate5.jpg" alt="十佳软件企业">
						</dt>
						<dd>
							<strong>中国诚信建设高层论坛</strong>
						</dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
</div>

<link rel="stylesheet" type="text/css" href="../css/carousel-bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/carousel.css">
<link rel="stylesheet" type="text/css" href="../css/index.css">
<script type="text/javascript" src="../js/carousel-bootstrap.min.js"></script>
<script type="text/javascript" src="../js/index.js"></script>



<!-- footer -->
<footer class="minwdt foot">
	<div class="container">
		<ul class="clearfix foot-top">
			<li class="on">
				<dl class="foot-menu">
					<dt><strong>关于金海燕</strong></dt>
					<dd><a href="#">公司介绍</a></dd>
					<dd><a href="#">企业文化</a></dd>
					<dd><a href="#">发展历史</a></dd>
					<dd><a href="#">荣誉资质</a></dd>
					<dd><a href="#">合作校企</a></dd>
				</dl>
			</li>
			<li class="on">
				<dl class="foot-menu">
					<dt><strong>服务项目</strong></dt>
					<dd><a href="#">外贸培训</a></dd>
					<dd><a href="#">人才输送</a></dd>
					<dd><a href="#">职场技能</a></dd>
				</dl>
			</li>
			<li class="on">
				<dl class="foot-menu">
					<dt><strong>新闻资讯</strong></dt>
					<dd><a href="#">学院动态</a></dd>
					<dd><a href="#">最新资讯</a></dd>
				</dl>
			</li>
			<li class="on">
				<dl class="foot-menu">
					<dt><strong>校企合作</strong></dt>
					<dd><a href="#">合作方式</a></dd>
					<dd><a href="#">合作优势</a></dd>
					<dd><a href="#">立即咨询</a></dd>
				</dl>
			</li>
			<li class="on">
				<dl class="foot-menu">
					<dt><strong>联系我们</strong></dt>
					<dd><a href="#">联系方式</a></dd>
					<dd><a href="#">在线留言</a></dd>
				</dl>
			</li>
			<li class="on">
				<dl class="foot-menu">
					<dt><strong>旗下网站</strong></dt>
					<dd><a href="#">金海燕外贸论坛</a></dd>
					<dd><a href="#">金海燕官网</a></dd>
					<dd><a href="#">职业测评</a></dd>
					<dd><a href="#">人才招聘</a></dd>
				</dl>
			</li>
			<li class="fl-rg">
				<img class="img-responsive" src="../image/common/WeChat.png" alt="金海燕-官方微信">
			</li>
		</ul>
		<dl class="clearfix foot-mdl">
			<dt>
				<strong>友情链接</strong>
			</dt>
			<dd>
				<a class="links" href="#">广东外贸论坛</a>
				<a class="links" href="#">外贸常用工具</a>
				<a class="links" href="#">外贸培训</a>
				<a class="links" href="#">职业测评</a>
				<a class="links" href="#">外贸人才招聘</a>
			</dd>
		</dl>
		<ul class="clearfix foot-btm">
			<li class="fl-lf">
				<strong class="zhder">
					技术支持：<a href="http://www.zhder.com" title="深圳网络公司,网站建设公司,深圳做网站公司,中山网站建设,网站设计-就选中达世联" target="_blank">中达世联</a>
				</strong>
			</li>
			<li class="fl-rg">
				<p>
					版权所有©2017 广东金海燕教育科技有限公司.保留一切权利
					&nbsp;
					粤ICP 000000000
					&nbsp;
					粤公网安备 000000000
				</p>
			</li>
		</ul>
	</div>
</footer>

</body>
</html>
